  .title {
  color:darkkhaki;
  font-size: 24px;
}

p {
  color: gray;
}

.main-visual {
  width: 100%;
  height: 640px;
  object-fit: cover;
  border-radius: 16px;
https://github.com/YUKKE-1/HTML_Test_App/blob/main/IMG_8201.JPG?

  
